nav{
    background-color: coral;
    color: white;
}
li{
    display: inline;
    margin-left: 50px;
    padding: 15px;
}
ul{
    margin-left: 320px;

}
a{
    text-decoration: none;
    text-shadow: 2px 2px grey;
    color:white;
    font-weight: 900;
    font-size: large;
}